<!DOCTYPE html>
<html xmlns:th="http//www.thymeleaf.org">
	<head>
		<title>Home</title>
		<object th:include="fragments/fragment :: css" th:remove="tag"></object>
		<object th:include="fragments/fragment :: js" th:remove="tag"></object>
	</head>
	<body>
		<nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-dark bg-dark">
			<a class="navbar-brand" href="#">SIPEG</a>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active">
						<a class="navbar-link" th:href="@{/}">Home</a>
					</li>
					<li class="nav-item active">
						<a class="nav-link" th:href="@{/pegawai/tambah}">Tambah Pegawai</a>
					</li>
					<li class="nav-item active">
						<a class="nav-link" th:href="@{/jabatan/tambah}">Tambah Jabatan</a>
					</li>
					<li class="nav-item active">
						<a class="nav-link" th:href="@{/jabatan/viewTotal}">Lihat Jumlah Pegawai</a>
					</li>
					<li class="nav-item active">
						<a class="nav-link" th:href="@{/jabatan/viewAll}">Lihat Semua Jabatan</a>
					</li>
				</ul>
			</div>
		</nav>
	
		<div class="container-fluid">
		<center>
			<h1>Sistem Informasi Kepegawaian</h1>
			<img src="https://ubisafe.org/images/discussed-clipart-job-specialization.png" alt="Pegawai">
			<h2>Selamat datang di Sistem Informasi Kepegawaian</h2>
		</center>
		<div class="row">
			<div class="col-md-6">
				<div class="card">
					<div class="card-header">
					<a name="cari_pegawai">Cari Pegawai</a>
					</div>
					<form th:action="@{/pegawai}" method="GET">
						<div class="card-body">
							<label for="nip">NIP Pegawai</label>
							<input type="text" name="nip" class="form-control"/>
							<p></p>
							<button type="submit" class="btn btn-primary">Cari</button>
						</div>
					</form>
				</div>
			</div>
		</div>
		</div>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-6">
				<div class="card">
					<div class="card-header">
					Ubah Jabatan
					</div>
					<form th:action="@{/jabatan/ubah}" method="GET">
						<div class="card-body">
							<label for="idJabatan">ID Jabatan</label>
							<input type="text" name="idJabatan" class="form-control"/>
							<p></p>
							<button type="submit" class="btn btn-primary">Cari</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-6">
				<div class="card">
					<div class="card-header">
					Lihat Detail Jabatan
					</div>
					<form th:action="@{/jabatan/view}" method="GET">
						<div class="card-body">
							<label for="idJabatan">Pilihan Jabatan</label>
							<select class="form-control" name="idJabatan">
    							<option th:each="jabatan,iterStat : ${jabatans}" th:value="${jabatan.id}" th:text="${jabatan.deskripsi}"></option>
   						 	</select>
							<button type="submit" class="btn btn-primary">Cari</button>
						</div>
					</form>
				</div>
			</div>
		</div>
		</div>
	<br>
	
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-6">
				<div class="card">
					<div class="card-header">
					LIHAT PEGAWAI TERTUA DAN TERMUDA
					</div>
					<form th:action="@{/pegawai/tertua-termuda}" method="GET">
						<div class="card-body">
							<label for="id">Pilih Instansi</label>
							<select class="form-control" name="idInstansi">
    							<option th:each="instansi,iterStat : ${listInstansi}" th:value="${instansi.id}" th:text="${instansi.nama} + ' - '+ ${instansi.provinsi.nama}"></option>
   						 	</select>
							<button type="submit" class="btn btn-primary">Cari</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	<div class="row">
			<div class="col-md-6">
				<div class="card">
					<div class="card-header">
					<a name="ubah_pegawai">Ubah Pegawai</a>
					</div>
					<form th:action="@{/pegawai/ubah}" method="GET">
						<div class="card-body">
							<label for="nip">NIP Pegawai</label>
							<input type="text" name="nip" class="form-control"/>
							<p></p>
							<button type="submit" class="btn btn-primary">Cari</button>
						</div>
					</form>
				</div>
			</div>
		</div>
		</div>
	</body>
	
</html>