<!DOCTYPE html>
<html xmlns:th="http//www.thymeleaf.org">
	<head>
		<title>Home</title>
		<object th:include="fragments/fragment :: css" th:remove="tag"></object>
		<object th:include="fragments/fragment :: js" th:remove="tag"></object>
	</head>

<body>	
	<nav th:replace="fragments/fragment :: navbar "></nav>
	<table class="table">
		<tr>
			<th>Jabatan</th>
			<th>Total</th>
		</tr>
		<tr th:each="jabatan : ${mapJumlah}">
    		<td th:text="${jabatan.key.nama}">Jabatan</td>
    		<td th:text="${jabatan.value}">Total</td>
		</tr>
	</table>
</body>
</html>