<!DOCTYPE html>
<html xmlns:th="http//www.thymeleaf.org">
	<head>
		<title>Home</title>
		<object th:include="fragments/fragment :: css" th:remove="tag"></object>
		<object th:include="fragments/fragment :: js" th:remove="tag"></object>
	</head>

<body>
	<nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-dark bg-dark">
			<a class="navbar-brand" href="#">SIPEG</a>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active">
						<a class="nav-link" th:href="@{/}">Home</a>
					</li>
					<li class="nav-item active">
						<a class="nav-link" th:href="@{/pegawai/tambah}">Tambah Pegawai</a>
					</li>
					<li class="nav-item active">
						<a class="nav-link" th:href="@{/jabatan/tambah}">Tambah Jabatan</a>
					</li>
					<li class="nav-item active">
						<a class="nav-link" th:href="@{/jabatan/viewTotal}">Lihat Jumlah Pegawai</a>
					</li>
					<li class="nav-item active">
						<a class="nav-link" th:href="@{/jabatan/viewAll}">Lihat Semua Jabatan</a>
					</li>
				</ul>
			</div>
	</nav>
	
	<h3>Ganti Jabatan</h3>
	<form th:action="@{/pegawai/ubah}" th:object="${pegawai}" method = "POST">
		<table>
				<input type="hidden" name="id" th:field="${pegawai.id}"/>
				<input type="hidden" name="nip" th:field="${pegawai.nip}"/>
				<tr>
					<td width="200" height="40">Nama</td>
					<td width="200"><input type="text" name="nama" size="55" th:field="${pegawai.nama}" /></td>
				</tr>
				<tr>
					<td height="40">Tempat Lahir</td>
					<td><input type="text" name="tempatLahir" size="55" th:field="${pegawai.tempatLahir}" /></td>
				</tr>
				<tr>
					<td height="40">Tanggal Lahir</td>
					<td><input type="date" name="tanggalLahir" th:field="${pegawai.tanggalLahir}" /></td>
				</tr>
				<tr>
					<td height="40">Tahun Masuk</td>
					<td><input type="number" name="tahunMasuk" size="55" th:field="${pegawai.tahunMasuk}" /></td>
				</tr>
				
				<tr><td height="40">Nama Instansi</td>
					<td><select  class="form-control" name="instansi">
							<option th:each="instansi : ${listInstansi}" th:value="${instansi.id}" th:text="${instansi.nama}" ></option>
					</select></td>
				</tr>
				
				
				<tr>
					<td height="40">Jabatan</td>
					<td><select  class="form-control" name="idJabatan">
							<option th:each="jabatan : ${listJabatan}" th:value="${jabatan.id}" th:text="${jabatan.nama}" ></option>
					</select></td>
				</tr>
				<tr>
					<td></td>
					<td>
		        	<button type="submit" name="addRow">Tambahkan Jabatan</button>
		      	</td>
		      </tr>
			</table>
			<br>
			<button type="submit" class="btn btn-primary">Simpan</button>
	</form>
		
</body>
</html>