<!DOCTYPE html>
<html xmlns:th="http//www.thymeleaf.org">
	<head>
		<title>Home</title>
		<object th:include="fragments/fragment :: css" th:remove="tag"></object>
		<object th:include="fragments/fragment :: js" th:remove="tag"></object>
	</head>

<body>	
	<nav th:replace="fragments/fragment :: navbar "></nav>
	<table>
		<tr>
			<th>Nama</th>
			<th>Deskripsi</th>
			<th>Gaji Pokok</th>
		</tr>
		<tr th:each="jabatan,iterStat : ${jabatans}">
    		<td th:text="${jabatan.nama}">origin</td>
    		<td th:text="${jabatan.deskripsi}">destination</td>
   			<td th:text="${jabatan.gajiPokok}">time</td>
 		</tr>
	</table>
</body>
</html>