<!DOCTYPE html>
<html xmlns:th="http//www.thymeleaf.org">
	<head>
		<title>Home</title>
		<object th:include="fragments/fragment :: css" th:remove="tag"></object>
		<object th:include="fragments/fragment :: js" th:remove="tag"></object>
	</head>

<body>
	<nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-dark bg-dark">
			<a class="navbar-brand" href="#">SIPEG</a>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active">
						<a class="nav-link" th:href="@{/}">Home</a>
					</li>
					<li class="nav-item active">
						<a class="nav-link" th:href="@{/pegawai/tambah}">Tambah Pegawai</a>
					</li>
					<li class="nav-item active">
						<a class="nav-link" th:href="@{/jabatan/tambah}">Tambah Jabatan</a>
					</li>
					<li class="nav-item active">
						<a class="nav-link" th:href="@{/jabatan/viewTotal}">Lihat Jumlah Pegawai</a>
					</li>
					<li class="nav-item active">
						<a class="nav-link" th:href="@{/jabatan/viewAll}">Lihat Semua Jabatan</a>
					</li>
				</ul>
			</div>
	</nav>
	
	<div id="Content" class="container-full-bg">
	<h1 th:text="'Lihat Data Pegawai - ' + ${pegawai.nip}"></h1>
		<div class="card my-5">
			<table class="table">
				<tbody>
					<tr>
						<th scope="row">NIP</th>
						<td th:text="${pegawai.nip}"></td>
					</tr>
					<tr>
						<th scope="row">Nama</th>
						<td th:text="${pegawai.nama}"></td>
					</tr>
					<tr>
						<th scope="row">Tempat Lahir</th>
						<td th:text="${pegawai.nip}"></td>
					</tr>
					<tr>
						<th scope="row">NIP</th>
						<td th:text="${pegawai.tempatLahir}"></td>
					</tr>
					<tr>
						<th scope="row">Tanggal Lahir</th>
						<td th:text="${pegawai.tanggalLahir}"></td>
					</tr>
					<tr>
						<th scope="row">Tahun Masuk</th>
						<td th:text="${pegawai.tahunMasuk}"></td>
					</tr>
					<tr>
						<th scope="row">Nama Instansi</th>
						<td th:text="${pegawai.instansi.nama}"></td>
					</tr>
					<tr>
						<th scope="row">Jabatan</th>
						<td>
							<ul>
								<li th:each="jabatan : ${jabatans}">
									<div th:text="${jabatan.nama}"></div>
								</li>
							</ul>
						</td>
					</tr>
					<th scope="row">Gaji</th>
                        <td th:text="'Rp' + ${gaji}"></td>
                    </tr>
				</tbody>
			</table>
			</div>
	</div>
</body>

</html>